/*Header Setup*/
html, body
{
    min-height: 100%;
    width:100%;
    margin:0;
    background-image:url(../img/background-SR.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-color: #313131;
    margin:10px auto;
    color: #000;
}

p{
    color: #000;
}
#header{
    height:260px;
    background-image: url(../img/Header-LGYC2.png);
    background-repeat:no-repeat;
    background-position: center;
    width:100%;
}

/*End Header Setup*/
.content{
    height: 100%;
    min-width: 100%;
    position: absolute;
}





/* Menu setup start*/

.menuHeader{
    color: #292929;!important;
    font-size: 20px; !important;
    font-style: italic; !important;
    background-color: #d6751e; !important;
    pointer-events: none; !important;
    cursor: default; !important;
}



#nav {
    z-index: 9002;
    position:fixed;
}

#nav ul li #menu{
    background-image: url(../img/nav-menu.png);
   -moz-background-image: url(../img/nav-menu.png);
    background-repeat: no-repeat;
    padding: 0;
    width:261px;
    height: 38px;
    left:10px;
    position: absolute;
    opacity:0.8;

}

#nav ul li:hover #menu{
    background-image: url(../img/nav-menu-hover.png);
    -moz-background-image: url(../img/nav-menu-hover.png);
    background-repeat: no-repeat;
    padding: 0;
    width:261px;
    height: 38px;!important;
    left:10px;
    position: absolute;
    opacity:0.8;

}


#nav ul {
    font-family: Amaranth ;
    font-size: 18px;
    font-style: italic;
    list-style-type: none;
    padding: 0;
    position: relative;

}
#nav ul li {
    display: inline-block;


}
#nav ul li:hover {
    background-image: url(../img/nav-menu-bg.png);



}
#nav ul li a {
    color: #d6751e;
    display: block;
    height: 28px;!important;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

}

#nav ul li a.menuHeader{
    color: #292929 ;
    padding-bottom: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}



#nav ul li:hover ul {
    display: block;
    opacity:0.8;
}

#nav ul ul {
    display: none;
    position: absolute;
    background-image: url(../img/nav-menu-bg.png);
    border-top: 0;
    margin-left: 10px;/*baja y acomoda el menu despues de la imagen*/
    margin-top: 38px;!important;
}

#nav ul ul li {
    display: block;
    width: 261px;

}
#nav ul ul li a:hover {
    color: #dddddd;
    text-decoration: #5f5e5e;
    background-image: url(../img/nav-menu-header-bg.png);

}
#second{
    left:261px;
}
#third{
    left:522px;
}
#fourth{
    left:783px;
}

/*Menu setup end*/

/* Champion and Champion Details Setup*/
.section-wrapper{
    width:960px;
    height: 100%;
    margin: 0 auto;
}
.section-wrapper-top{
    width:960px;
    height:263px;
    background: transparent
                url(../img/Top-wrapper.png)
                no-repeat;
    z-index: -2;
    position: relative;

}


.section-wrapper-content{
    float: left;
    display: block;
    padding-left: 74px;
    min-height: 100%;
    position: relative;
    background: url(../img/content-background.png) 11px repeat-y;

}

.clear{
    clear: left;
    clear: both;
}

.section-wrapper-bottom{
    height: 200px;
    position: relative;
}


.imgChampIcon{
   
    width: 80px;
    height: 80px;

}

.champBorder{
    float:left;
    margin: 5px;
    top: -15px;
    width: 80px;
    height: 80px;
}

.after{

    width: 80px;
    height: 80px;
    background: url(../img/MarcoCampeones.png);
    background-size: 80px 80px;
    position: absolute;
    z-index: 1;
    cursor:pointer;
}

.after:hover{
    width:80px;
    height: 80px;
    background: url(../img/MarcoCampeones-hover.png);
    background-size: 80px 80px;
    position: absolute;
}

#champDetailsGeneral{
    width:auto;
    height: 570px;
}

#loadingChampImg{

    width:30%;
    height: 90%;
    float: left;
}

#abilityInfo{
    width: auto;
    height: 64px;

}
.imgChamp{
    margin: 20px;
    width: auto;
    height: inherit;
}
.abilityIcon{
    float: left;
    margin-right: 40px;
    margin-left: 20px;
}

.txtAbility{
    margin-top: 20px;
    margin-left: 20px;
}




/* Champion and Champion Details Setup end*/