/*Header Setup*/
html, body
{
    min-height: 100%;
    width:100%;
    margin:0;
    background-image:url(../img/background-SR.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-color: #313131;
    margin:10px auto;
    color: #000;
}

p{
    color: #000;
}
#header{
    height:263px;
    background-image: url(../img/Header-LGYC2.png);
    background-repeat:no-repeat;
    background-position: center;
    width:100%;
}

/*End Header Setup*/
.content{
    height: 100%;
    min-width: 100%;
    position: absolute;
}





/* Menu setup start*/

.menuHeader{
    color: #292929;!important;
    font-size: 20px; !important;
    font-style: italic; !important;
    background-color: #d6751e; !important;
    pointer-events: none; !important;
    cursor: default; !important;
}



#nav {
    z-index: 9002;
    position:fixed;
}

#nav ul li #menu{
    background-image: url(../img/nav-menu.png);
   -moz-background-image: url(../img/nav-menu.png);
    background-repeat: no-repeat;
    padding: 0;
    width:261px;
    height: 38px;
    left:10px;
    position: absolute;
    opacity:0.8;

}

#nav ul li:hover #menu{
    background-image: url(../img/nav-menu-hover.png);
    -moz-background-image: url(../img/nav-menu-hover.png);
    background-repeat: no-repeat;
    padding: 0;
    width:261px;
    height: 38px;!important;
    left:10px;
    position: absolute;
    opacity:0.8;

}


#nav ul {
    font-family: Amaranth ;
    font-size: 18px;
    font-style: italic;
    list-style-type: none;
    padding: 0;
    position: relative;

}
#nav ul li {
    display: inline-block;


}
#nav ul li:hover {
    background-image: url(../img/nav-menu-bg.png);



}
#nav ul li a {
    color: #d6751e;
    display: block;
    height: 28px;!important;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

}

#nav ul li a.menuHeader{
    color: #292929 ;
    padding-bottom: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}



#nav ul li:hover ul {
    display: block;
    opacity:0.8;
}

#nav ul ul {
    display: none;
    position: absolute;
    background-image: url(../img/nav-menu-bg.png);
    border-top: 0;
    margin-left: 10px;/*baja y acomoda el menu despues de la imagen*/
    margin-top: 38px;!important;
}

#nav ul ul li {
    display: block;
    width: 261px;

}
#nav ul ul li a:hover {
    color: #dddddd;
    text-decoration: #5f5e5e;
    background-image: url(../img/nav-menu-header-bg.png);

}
#second{
    left:261px;
}
#third{
    left:522px;
}
#fourth{
    left:783px;
}

/*Menu setup end*/

/* Champion and Champion Details Setup*/
.section-wrapper-top, .section-wrapper-bottom{
    background-image: url(../img/ContentBorder.png);
    background-repeat: no-repeat;
}

.section-wrapper{
    width:960px;
    height: 100%;
    margin: 0 auto;
}
.section-wrapper-top{
    width:960px;
    height:125px;
    background-position: 0px 0px;
    position: relative;

}

.section-wrapper-bottom{
    width:960px;
    height:125px;
    background-position: 0px -130px;
    position: relative;
}

.champ-Search-Bar{
    width: 250px;
    height: 30px;
    /* margin : <top> <right> <bot> <left>*/
    margin: 12px 0 0 655px;
    background: rgba(140, 136, 136, 0.3);
}

.champ-wrapper{
    width:860px;
    margin:0 74px;
}

.section-wrapper-content{
    float: left;
    display: block;
    width:100%;
    background: url(../img/content-background.png)  repeat-y;
}

.clear{
    clear: left;
    clear: both;
}

.section-wrapper-bottom{
    height: 200px;
    position: relative;
}


.imgChampIcon{
    width: 80px;
    height: 80px;
}

.champBorder{
    float:left;
    margin: 5px;
    top: -15px;
    width: 80px;
    height: 80px;
}

.after{
    width: 80px;
    height: 80px;
    background: url(../img/MarcoCampeones.png);
    background-size: 80px 80px;
    position: absolute;
    z-index: 1;
    cursor:pointer;
}

.after:hover{
    width:80px;
    height: 80px;
    background: url(../img/MarcoCampeones-hover.png);
    background-size: 80px 80px;
    position: absolute;
}

/*  Info General de campeones*/

#champDetailsGeneral{
    margin: 0 auto;
    width:860px;
    height: 570px;
}

.slider{
    width:220px;
    float: left;
    left:140px;
    top:-40px;
}


.slider-wrapper{
    width:430px;
    height: 550px;
    float: left;
    border-right:solid 1px dimgray;
}

.slick-prev{
     top:43.5%;
 }

.slick-next{
    top:43.5%;
}

.imgChamp{
    width: 220px;
    height: 400px;
}

.splash-border{
    box-shadow: #5f5e5e;
}

.splash-border:after{
    content:'';
    position: absolute;
    top:0;
    right: 0;
    bottom:0;
    left:0;
    background: url(../img/Border-SplashArt.png) repeat-x;
    background-size: 220px 400px;

}

.info-wrapper{
    width:477px;
    height: 550px;
    float: left;
}

.skins-tittle{
    width:100%;
    height: 120px;
    left:110px;
    top:-30px;
    background: url(../img/Aspectos.png) no-repeat;
    position: relative;
}

.atts-tittle{
    width:100%;
    height: 120px;
    left:80px;
    top:-30px;
    background: url(../img/Atributos.png) no-repeat;
    position: relative;
}

.stats-tittle{
    width:100%;
    height: 120px;
    left:80px;
    top:-30px;
    background: url(../img/Estadisticas.png) no-repeat;
    position: relative;
}

#stats-graph{
    top: -60px;
    position: relative;

}

.atts-wrapper{
    position: relative;
}

.atts-table{
    width:100%;
    color: ghostwhite;
    text-align: center;
    position: relative;
    top:-50px;
}

.atts-table th{
    text-decoration: underline;
    padding:5px;
}
.atts-table tr{
    margin-left: 10px;
    margin-top: 10px;
}

.ability-tittle{
    width:100%;
    height: 180px;
    left:280px;
    top:30px;
    background: url(../img/Habilidades.png) no-repeat;
    position: relative;
}

.abilityInfo-wrapper{
    width:865px;
    margin-left:45px;
    border-top:solid 1px dimgray;
}
.ability-table{
    width:860px;
    position: relative;
    border-collapse: collapse;
    border-bottom:solid 1px dimgray;
}

.ability-table p{
    color: ghostwhite;
}

.ability-table th{
    text-align: left;
    color: ghostwhite;
}

.ability-table tr{

}

.ability-table br{
    display: block;
    margin: 5px 0;
}

.spells-tittle{
    width:80%;
    height: 120px;
    left:150px;
    top:-30px;
    background: url(../img/Habilidades.png) no-repeat;
    position: relative;
}


.loading-champ-img{
    z-index: -3;
    width:250px;
}


#abilityInfo{
    width: auto;

}

.abilityIcon{
    width: 13%;
    border-right: solid 1px dimgray;

    position: relative
}

#abilityIcon{
    text-align: center;
}
#abilityIconSpell{
    text-align: center;
}

.txtAbility{
    text-align: left;
    margin-left:10px;
    padding-bottom: 15px;
}

#txtAbility-tittle{
    left:10px;
    position: relative;

}
#txtAbility-tittleSpell{
    left:10px;
    position: relative;
    padding-top: 15px;
}

/* Champion and Champion Details Setup end*/