/*Header Setup*/
html, body
{
    min-height: 100%;
    width:100%;
    margin:0;
    background-image:url(../img/background-SR.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-color: #313131;
    margin:10px auto;
    color: #000;
    font-family: Amaranth;
}

*{
    font-family: Amaranth;
    font-style: italic;
}

p{
    color: #000;
}
#header{
    height:263px;
    background-image: url(../img/Header-LGYC2.png);
    background-repeat:no-repeat;
    background-position: center;
    width:100%;
}

/*End Header Setup*/
.content{
    height: 100%;
    min-width: 100%;
    position: absolute;
}





/* Menu setup start*/

.menuHeader{
    color: #292929;!important;
    font-size: 20px; !important;
    font-style: italic; !important;
    background-color: #d6751e; !important;
    pointer-events: none; !important;
    cursor: default; !important;
}



#nav {
    z-index: 9002;
    position:fixed;
}

#nav ul li #menu{
    background-image: url(../img/nav-menu.png);
   -moz-background-image: url(../img/nav-menu.png);
    background-repeat: no-repeat;
    padding: 0;
    width:261px;
    height: 38px;
    left:10px;
    position: absolute;
    opacity:0.8;

}

#nav ul li:hover #menu{
    background-image: url(../img/nav-menu-hover.png);
    -moz-background-image: url(../img/nav-menu-hover.png);
    background-repeat: no-repeat;
    padding: 0;
    width:261px;
    height: 38px;!important;
    left:10px;
    position: absolute;
    opacity:0.8;

}


#nav ul {
    font-family: Amaranth ;
    font-size: 18px;
    font-style: italic;
    list-style-type: none;
    padding: 0;
    position: relative;

}
#nav ul li {
    display: inline-block;


}
#nav ul li:hover {
    background-image: url(../img/nav-menu-bg.png);



}
#nav ul li a {
    color: #d6751e;
    display: block;
    height: 28px;!important;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

}

#nav ul li a.menuHeader{
    color: #292929 ;
    padding-bottom: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}



#nav ul li:hover ul {
    display: block;
    opacity:0.8;
}

#nav ul ul {
    display: none;
    position: absolute;
    background-image: url(../img/nav-menu-bg.png);
    border-top: 0;
    margin-left: 10px;/*baja y acomoda el menu despues de la imagen*/
    margin-top: 38px;!important;
}

#nav ul ul li {
    display: block;
    width: 261px;

}
#nav ul ul li a:hover {
    color: #dddddd;
    text-decoration: #5f5e5e;
    background-image: url(../img/nav-menu-header-bg.png);

}
#second{
    left:261px;
}
#third{
    left:522px;
}
#fourth{
    left:783px;
}

/*Menu setup end*/

/* Champion and Champion Details Setup*/
.section-wrapper-top, .section-wrapper-bottom{
    background-image: url(../img/ContentBorder.png);
    background-repeat: no-repeat;
}

.section-wrapper{
    width:960px;
    height: 100%;
    margin: 0 auto;
}
.section-wrapper-top{
    width:960px;
    height:125px;
    background-position: 0px 0px;
    position: relative;

}

.section-wrapper-bottom{
    width:960px;
    height:125px;
    background-position: 0px -130px;
    position: relative;
}

.champ-Search-Bar{
    width: 250px;
    height: 30px;
    /* margin : <top> <right> <bot> <left>*/
    margin: 12px 0 0 600px;
    background: rgba(140, 136, 136, 0.3);
    font-family: Arial;
    font-size: medium;
}

.champ-wrapper{
    width:860px;
    margin:0 74px;
}

.section-wrapper-content{
    float: left;
    display: block;
    width:100%;
    min-height: 280px;
    background: url(../img/content-background.png)  repeat-y;
    text-shadow:3px 3px 5px #1c1c1c;
}

.clear{
    clear: left;
    clear: both;
}

.section-wrapper-bottom{
    height: 200px;
    position: relative;
}


.imgChampIcon{
    width: 80px;
    height: 80px;
}

.champBorder{
    float:left;
    margin: 5px;
    top: -15px;
    width: 80px;
    height: 80px;
}

.after{
    width: 80px;
    height: 80px;
    background: url(../img/MarcoCampeones.png);
    background-size: 80px 80px;
    position: absolute;
    z-index: 1;
    cursor:pointer;
}

.after:hover{
    width:80px;
    height: 80px;
    background: url(../img/MarcoCampeones-hover.png);
    background-size: 80px 80px;
    position: absolute;
}

/*  Info General de campeones*/

#champDetailsGeneral{
    margin: 0 auto;
    width:860px;
    height: 570px;
}

.slider{
    width:220px;
    float: left;
    left:140px;
    top:-40px;
}


.slider-wrapper{
    width:430px;
    height: 550px;
    float: left;
    border-right:solid 1px dimgray;
}

.slick-prev{
     top:43.5%;
 }

.slick-next{
    top:43.5%;
}

.imgChamp{
    width: 220px;
    height: 400px;
}

.splash-border{
    box-shadow: #5f5e5e;
}

.splash-border:after{
    content:'';
    position: absolute;
    top:0;
    right: 0;
    bottom:0;
    left:0;
    background: url(../img/Border-SplashArt.png) repeat-x;
    background-size: 220px 400px;

}

.info-wrapper{
    width:477px;
    height: 550px;
    float: left;
}

.champion-tittle{
    width:100%;
    height: 120px;
    top:-40px;
    /*left:110px;
    left:40px;
    /*background: url(../img/Aspectos.png) no-repeat;*/
    position: relative;
    font-size: 25px;
    color:#d6751e;
    text-align: center;
}

.champion-tittle h4{
    top: -35px;
    position: relative;
}
.skins-tittle{
    width:100%;
    height: 120px;
    /*left:110px;*/
    left:40px;
    top:-30px;
    /*background: url(../img/Aspectos.png) no-repeat;*/
    position: relative;
    color:#d6751e;
    font-family: Amaranth;
    font-style: italic;
    text-shadow:3px 3px 5px #1c1c1c;
    text-align: center;
}

.atts-tittle{
    width:100%;
    height: 120px;
    /*left:80px;*/
    top:-30px;
    /*background: url(../img/Atributos.png) no-repeat;*/
    position: relative;
    color:#d6751e;
    font-family: Amaranth;
    font-style: italic;
    text-shadow:3px 3px 5px #1c1c1c;
    text-align: center;
}

.stats-tittle{
    width:100%;
    height: 120px;
    /*left:80px;
    top:-30px;
    /*background: url(../img/Estadisticas.png) no-repeat;*/
    top:10px;
    position: relative;
    color:#d6751e;
    font-family: Amaranth;
    font-style: italic;
    text-shadow:3px 3px 5px #1c1c1c;
    text-align: center;
}

#stats-graph{
    top: -60px;
    position: relative;


}

.stats-wrapper{
    position: relative;
    top:-40px;
}

.atts-wrapper{
    position: relative;

}

.atts-table{
    width:100%;
    color: ghostwhite;
    text-align: center;
    position: relative;
    top:-50px;
}

.atts-table{
    font-size: 16px;
}

.atts-table th{
    text-decoration: underline;
    padding:5px;
}
.atts-table tr{
    margin-left: 10px;
    margin-top: 10px;
}

.ability-tittle{
    width:100%;
    height: 120px;
    /*left:280px;*/
    top:30px;
    /*background: url(../img/Habilidades.png) no-repeat;*/
    position: relative;
    color:#d6751e;
    font-family: Amaranth;
    font-style: italic;
    text-shadow:3px 3px 5px #1c1c1c;
    text-align: center;

}

.abilityInfo-wrapper{
    width:865px;
    margin-left:45px;
    border-top:solid 1px dimgray;
}
.ability-table{
    width:860px;
    position: relative;
    border-collapse: collapse;
    border-bottom:solid 1px dimgray;
}

.ability-table p{
    color: ghostwhite;
    font-size: 14px;
}

.ability-table th{
    text-align: left;
    color: ghostwhite;
}

.ability-table tr{

}

.ability-table br{
    display: block;
    margin: 5px 0;
}

.spells-tittle{
    width:80%;
    height: 120px;
    left:150px;
    top:-30px;
    background: url(../img/Habilidades.png) no-repeat;
    position: relative;
}


.loading-champ-img{
    z-index: -3;
    width:250px;
}


#abilityInfo{
    width: auto;

}

.abilityIcon{
    width: 13%;
    border-right: solid 1px dimgray;

    position: relative
}

#abilityIcon{
    text-align: center;
}
#abilityIconSpell{
    text-align: center;
}

.txtAbility{
    text-align: left;
    margin-left:10px;
    padding-bottom: 15px;
}

#txtAbility-tittle{
    left:10px;
    position: relative;

}
#txtAbility-tittleSpell{
    left:10px;
    position: relative;
    padding-top: 15px;
}

/* Champion and Champion Details Setup end*/

/* Match History start*/

.tittle{
    width:100%;
    height: 120px;
    /*left:110px;
    left:40px;
    /*background: url(../img/Aspectos.png) no-repeat;*/
    position: relative;
    font-size: 25px;
    color:#d6751e;
    text-align: center;
}

.match-history-search-bar{
   text-align: center;
}

.player-Search-Bar{
    width: 350px;
    height: 40px;
    /* margin : <top> <right> <bot> <left>*/
    background: rgba(140, 136, 136, 0.3);
    color:#d6751e;
    font-family: Arial;
    font-size: medium;
}

.select-standard{
    text-align: center;
    width: 100px;
    height: 37px;
    vertical-align: baseline;
    font-size: medium;
    -moz-box-shadow:inset 3px 9px 8px -5px #b51a06;
    -webkit-box-shadow:inset 3px 9px 8px -5px #b51a06;
    box-shadow:inset 3px 9px 8px -5px #b51a06;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bd1c00), color-stop(1, #611006));
    background:-moz-linear-gradient(top, #bd1c00 5%, #611006 100%);
    background:-webkit-linear-gradient(top, #bd1c00 5%, #611006 100%);
    background:-o-linear-gradient(top, #bd1c00 5%, #611006 100%);
    background:-ms-linear-gradient(top, #bd1c00 5%, #611006 100%);
    background:linear-gradient(to bottom, #bd1c00 5%, #611006 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bd1c00', endColorstr='#611006',GradientType=0);
    background-color:#611202;
    border:1px solid #858585;
    color:#ffffff;
    text-shadow:0px 3px 5px #1a0604;
}

.select-standard:hover{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #611006), color-stop(1, #bd1c00));
    background:-moz-linear-gradient(top, #611006 5%, #bd1c00 100%);
    background:-webkit-linear-gradient(top, #611006 5%, #bd1c00 100%);
    background:-o-linear-gradient(top, #611006 5%, #bd1c00 100%);
    background:-ms-linear-gradient(top, #611006 5%, #bd1c00 100%);
    background:linear-gradient(to bottom, #611006 5%, #bd1c00 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#611006', endColorstr='#bd1c00',GradientType=0);
    background-color:#611006;

}

.button-standard{
    -moz-box-shadow:inset 3px 9px 8px -5px #b51a06;
    -webkit-box-shadow:inset 3px 9px 8px -5px #b51a06;
    box-shadow:inset 3px 9px 8px -5px #b51a06;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bd1c00), color-stop(1, #611006));
    background:-moz-linear-gradient(top, #bd1c00 5%, #611006 100%);
    background:-webkit-linear-gradient(top, #bd1c00 5%, #611006 100%);
    background:-o-linear-gradient(top, #bd1c00 5%, #611006 100%);
    background:-ms-linear-gradient(top, #bd1c00 5%, #611006 100%);
    background:linear-gradient(to bottom, #bd1c00 5%, #611006 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bd1c00', endColorstr='#611006',GradientType=0);
    background-color:#bd1c00;
    border:1px solid #858585;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:9px 29px;
    text-decoration:none;
    text-shadow:0px 3px 5px #1a0604;
}

.button-standard:hover{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #611006), color-stop(1, #bd1c00));
    background:-moz-linear-gradient(top, #611006 5%, #bd1c00 100%);
    background:-webkit-linear-gradient(top, #611006 5%, #bd1c00 100%);
    background:-o-linear-gradient(top, #611006 5%, #bd1c00 100%);
    background:-ms-linear-gradient(top, #611006 5%, #bd1c00 100%);
    background:linear-gradient(to bottom, #611006 5%, #bd1c00 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#611006', endColorstr='#bd1c00',GradientType=0);
    background-color:#611006;
}

.button-standard:active{
    position:relative;
    top:1px;
}


/* Match History end*/


