
<div class="section-wrapper">
    <div class="section-wrapper-top">
    </div>
    <div class="section-wrapper-content">
        <div class="tittle">
            <h2>Historial de Invocador</h2>
        </div>
        <div class="match-history-search-bar">
            <input type="text" id="txtSearchPlayerHistory" class="player-Search-Bar" placeholder="Buscar Invocador">
            <select class="select-standard">
                <option value="LAN">LAN</option>
                <option value="LAS">LAS</option>
            </select>
            <br/>
            <br/>
            <a href="#" class="button-standard"> Buscar</a>
        </div>

    </div>

    <div class="clear"></div>
    <div class="section-wrapper-bottom">

    </div>
</div>