
<!--Nombre: {{::cc.detailChampData.name}}<br>-->

<!--Titulo: {{::cc.detailChampData.title}}<br>-->
<div class="section-wrapper">
    <div class="section-wrapper-top">
    </div>
    <div class="section-wrapper-content">
        <div class="champion-tittle">
            <h1>{{::cc.detailChampData.name}}</h1>
            <h4>{{::cc.getAllTags()}}</h4>
        </div>
        <div class="slider-wrapper">
            <div class="skins-tittle">
                <h1>Aspectos</h1>
            </div>
            <div  slider="{slidesToShow:1, draggable:true}" class="slider">
                <div class="loading-champ-img" ng-repeat="skin in cc.detailChampData.skins">
                    <div class="splash-border">
                        <img class="imgChamp" ng-src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{::cc.detailChampData.key + '_'+ skin.num +'.jpg'}}">
                    </div>
                    <div >
                        <h5 style="text-align: center; color: ghostwhite; ">{{cc.renameSkin(skin.name)}}</h5>
                    </div>
                </div>
            </div>

        </div>
        <div class="info-wrapper">

            <div class="atts-wrapper">
                <div class="atts-tittle">
                    <h1>Atributos</h1>
                </div>
                <table class="atts-table">
                    <tr>
                        <th>Vida</th>
                        <th>Mana</th>
                        <th>Rango de Atq.</th>
                        <th>Vel. de Mov.</th>
                    </tr>
                    <tr>
                        <td>{{::cc.detailChampData.stats.hp + ' ('+cc.detailChampData.stats.hpperlevel+' x Nvl)'}}</td>
                        <td>{{::cc.detailChampData.stats.mp + ' ('+cc.detailChampData.stats.mpperlevel+' x Nvl)'}}</td>
                        <td>{{::cc.detailChampData.stats.attackrange}}</td>
                        <td>{{::cc.detailChampData.stats.movespeed}}</td>
                    </tr>

                    <tr>
                        <th>Daño de Atq.</th>
                        <th>Vel. de Atq.</th>
                        <th>Armadura</th>
                        <th>Res. Mágica</th>
                    </tr>
                    <tr>
                        <td>{{cc.detailChampData.stats.attackdamage + ' ('+cc.detailChampData.stats.attackdamageperlevel+' x Nvl)'}}</td>
                        <td>{{cc.calculateAttackSpeed(cc.detailChampData.stats.attackspeedoffset, cc.detailChampData.stats.attackspeedperlevel)}}</td>
                        <td>{{::cc.detailChampData.stats.armor + ' ('+cc.detailChampData.stats.armorperlevel+' x Nvl)'}}</td>
                        <td>{{::cc.detailChampData.stats.spellblock + ' ('+cc.detailChampData.stats.spellblockperlevel+' x Nvl)'}}</td>
                    </tr>
                </table>
            </div>
            <div class="stats-wrapper">
                <div class="stats-tittle">
                    <h1>Estadísticas</h1>
                </div>
                <div id="stats-graph" >

                </div>

            </div>
        </div>
        <div class="clear"></div>
        <div class="abilityInfo-wrapper">
            <div class="ability-tittle">
                <h1>Habilidades</h1>
            </div>
                <table class="ability-table">
                    <tr>
                        <th rowspan="2" class="abilityIcon" id="abilityIcon">
                                <img  ng-src="http://ddragon.leagueoflegends.com/cdn/{{::cc.apiVersion}}/img/passive/{{::cc.detailChampData.passive.image.full}} ">

                        </th>
                        <th id="txtAbility-tittle"> {{::cc.detailChampData.passive.name + " (Pasivo)"}}</th>
                    </tr>
                    <tr style="border-bottom: solid 1px dimgray">
                        <td>
                            <div class="txtAbility">
                                <p ng-bind-html="cc.trustHtml(cc.detailChampData.passive.description)"></p>
                            </div>
                        </td>
                    </tr>
                </table>
                <table ng-repeat="spell in cc.detailChampData.spells" class="ability-table">
                    <tr>
                        <th rowspan="2" class="abilityIcon" id="abilityIconSpell">
                            <img  ng-src="http://ddragon.leagueoflegends.com/cdn/{{cc.apiVersion}}/img/spell/{{spell.image.full}} ">

                        </th>
                        <th id="txtAbility-tittleSpell"> {{cc.renameSpells(spell.name) }}</th>
                    </tr>
                    <tr style="border-bottom: solid 1px dimgray">
                        <td>
                            <div class="txtAbility">
                                <p ng-bind-html="cc.trustHtml(cc.replaceSpellValues(spell))"></p>
                            </div>
                        </td>
                    </tr>
                </table>

        </div>


    </div>

    <div class="clear"></div>
    <div class="section-wrapper-bottom">

    </div>
</div>






