
Nombre: {{::cc.detailChampData.name}}<br>

Titulo: {{::cc.detailChampData.title}}<br>

<div id="champDetailsGeneral">
    <div id="loadingChampImg">
        <img class="imgChamp" ng-src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{::cc.detailChampData.key + '_0.jpg'}}">
    </div>

    <div id="abilityInfo">

        <div class="abilityIcon">
            <img  ng-src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/passive/{{::cc.detailChampData.passive.image.full}} ">
            <img  ng-src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/spell/{{::cc.detailChampData.spells[0].image.full}} ">
        </div>
        <div class="txtAbility">
            {{::cc.detailChampData.passive.name + " (Pasivo)"}} <br>
                <p ng-bind-html="cc.trustHtml(cc.detailChampData.spells[0].tooltip)"></p>
        </div>
    </div>

</div>




