
<div class="section-wrapper">
    <div class="section-wrapper-top">
        <h1>Campeones</h1>
    </div>
    <div class="section-wrapper-content">
        <div ng-repeat="champ in cc.champions | orderBy:'name' | filter:champName" class="champBorder">
            <div class="after">

            </div>
            <img class="imgChampIcon" ng-click="cc.getChampionDetails(champ.id)" ng-src="http://ddragon.leagueoflegends.com/cdn/6.6.1/img/champion/{{::champ.image.full}}"
                 alt="{{::champ.title}}">
        </div>
    </div>

    <div class="section-wrapper-bottom"></div>
</div>
