

<div class="section-wrapper">
    <div class="section-wrapper-top">
        <input  type="text" ng-model="champName.name" class="champ-Search-Bar" placeholder="Buscar Campeón">
    </div>
    <div id="ChampPortraits" class="section-wrapper-content">
        <div class="champ-wrapper" >
            <div ng-repeat="champ in cc.champions | orderBy:'name' | filter:champName" class="champBorder">

                <div class="after" ng-click="cc.getChampionDetails(champ.id)">

                </div>
                <img class="imgChampIcon" ng-src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/{{::champ.image.full}}"
                     alt="{{::champ.title}}">

            </div>

        </div>
    </div>

    <div class="clear"></div>
    <div class="section-wrapper-bottom">

    </div>
</div>
