
<!--<div class="section-wrapper">-->
    <!--<div class="section-wrapper-top">-->

    <!--</div>-->

        <!--<div ng-repeat="champ in cc.champions | orderBy:'name' | filter:champName | limitTo:2 " >-->
            <!--<div id="ChampPortraits" class="section-wrapper-content">-->
                <!--<div class="after">-->

                <!--</div>-->
                <!--<img class="imgChampIcon" ng-click="cc.getChampionDetails(champ.id)" ng-src="http://ddragon.leagueoflegends.com/cdn/6.6.1/img/champion/{{::champ.image.full}}"-->
                     <!--alt="{{::champ.title}}">-->
        <!--</div>-->

    <!--</div>-->
    <!--<div class="clear"></div>-->
    <!--<div class="section-wrapper-bottom">-->
        <!--hello-->
    <!--</div>-->
<!--</div>-->


<div class="section-wrapper">
    <div class="section-wrapper-top">

    </div>

    <div ng-repeat="champ in cc.champions | orderBy:'name' | filter:champName" >
        <div id="ChampPortraits" class="section-wrapper-content">
            <div class="after">

            </div>
            <img class="imgChampIcon" ng-click="cc.getChampionDetails(champ.id)" ng-src="http://ddragon.leagueoflegends.com/cdn/6.6.1/img/champion/{{::champ.image.full}}"
                 alt="{{::champ.title}}">
        </div>

    </div>
    <div class="clear"></div>
    <div class="section-wrapper-bottom">
        hello
    </div>
</div>
