<!DOCTYPE html>
<html lang="en" ng-app="appLaGrieta">
<head>
    <meta charset="UTF-8">
    <title>La Grieta Y su Combo</title>
    <link href='https://fonts.googleapis.com/css?family=Amaranth:400,700italic,400italic,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="../../../assets/css/style.css">

</head>
<body>
<div class="content">
    <div id="header">
        <menu-grieta></menu-grieta>
    </div>


    <ng-view></ng-view>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.5.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js"></script>
<script src="../../appLaGrieta.module.js"></script>
<script src="appLaGrieta.ChampionRoutes.js"></script>
<script src="champions-factory.js"></script>
<script src="champions-controller.js"></script>
<script src="../../shared/Menu/menu.directive.js"></script>
</body>
</html>